.env
.next
.DS_Store
cypress/videos
cypress/screenshots
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# You can use Yarn locally if you like, but generally we use NPM.
# As such, any generated Yarn.lock files should not be committed.
yarn.lock
