/*
 * These styles may be assumed to be included on all pages, so that font availability and rendering
 * is guaranteed to be consistent. Additionally, these styles should be inserted Storybook to guarantee
 * consistend component rendering across environments.
 *
 * NB - injecting @font-face styles using Styled Component`s global injection tools causes a
 * re-requesting of webfonts whenever styles are changed anywhere on the page, which motivated the
 * move to an ordinary `.css`-file. See https://github.com/styled-components/styled-components/issues/2205.
 */

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/IBMPlexSans-Bold.woff") format("woff");
}

body {
  background-color: #f2f4f8;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
}

/*
 * The module `<PageTransition>` component needs these global classes to do its magic. This is
 * an external dependency (`next-page-transitions`) and as such, we do not have a way to circumvent
 * this requirement (unless we decide to adopt & modify the module).
 */

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/**
 * Loaderbar heavily relies on [NProgress](https://github.com/rstacruz/nprogress) and as such,
 * requires various global styles.
 */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: blue;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px blue, 0 0 5px blue;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none; /* Needs to be "block" if spinner should be visible. */
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: blue;
  border-left-color: blue;
  border-radius: 50%;
  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
